apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 639493421170.dkr.ecr.eu-north-1.amazonaws.com/backend:19
          ports:
            - containerPort: 8080
          
